[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesRegDTR"]
	path = BayesRegDTR
	url = https://github.com/jlimrasc/bayesregdtr
[submodule "VBel"]
	path = VBel
	url = https://github.com/jlimrasc/vbel
